@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}
<h1>Password changing for @Model.UserName</h1>
<hr />

<div class="row">
    <div class="col-sm-6">
        <form asp-action="ChangePassword" asp-controller="Users" asp-area="Admin">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserName" />

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input type="text" asp-for="NewPassword" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

