@model EditUserViewModel
@{
    ViewData["Title"] = "Edit user";
}

<h1>Edit user</h1>
<hr />

<div class="row">
    <div class="col-sm-6">
        <form asp-action="Edit" asp-controller="Users" asp-area="Admin">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input type="text" asp-for="UserName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>