@model SelectList

<div>
    <label for="select-manager-id" class="form-label">Select manager:</label>
    <select name="ManagerId" asp-items="Model" class="form-select" id="select-manager-id">
        <option value="">All</option>
    </select>
</div>