@model SupplyOrderViewModel

@{
    ViewData["title"] = "Create new supply order";
}

<h1>Create new supply order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateConfirm" asp-controller="SupplyOrders" asp-area="Admin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManagerId" />
            <div class="mb-3">
                <label asp-for="SupplierId" class="form-label"></label>
                <select asp-for="SupplierId" asp-items="ViewBag.Suppliers" class="form-select"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create supply order" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="SupplyOrders" asp-area="Admin" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}