@model List<MostPurchasedModelViewModel>

@{
    ViewBag.Title = "Top models by orders count";
}

<h2>Top models by orders count</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].Model)</th>
        <th>Orders count</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.BrandWithModel</td>
            <td>@item.OrdersCount</td>
        </tr>
    }
</table>
