@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<div class="d-flex gap-0">
    <a asp-area="Admin" asp-controller="Statistics" asp-action="GetTopClientsWhoMadeMoreOrders" class="btn btn-primary btn-lg">Get top clients who made more orders</a>
    <a asp-area="Admin" asp-controller="Statistics" asp-action="GetTopMostFrequentlyPurchasedCarModels" class="btn btn-primary btn-lg">Get top most frequently purchased car models</a>
</div>


