@model CreateManagerViewModel
@{
    ViewData["Title"] = "Create new manager";
}

<h1>Create manager</h1>
<hr />

<div class="row">
    <div class="col-sm-6">
        <form asp-action="Create" asp-controller="Managers" asp-area="Admin">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input type="text" asp-for="UserName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="ShowroomId" class="form-label"></label>
                <select asp-for="ShowroomId" class="form-control" asp-items="ViewBag.Showrooms"></select>
                <span asp-validation-for="ShowroomId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create manager" class="btn btn-success" />
            </div>
        </form>

    </div>
</div>