@model Dictionary<string, List<string>>;

@{
    ViewBag.Title = "502 Bad request";
}

<div class="row">
    <div class="col-12 text-center">
        <img src="@Url.Content("~/img/errors/502.jpg")" alt="502 Bad request" />
    </div>
    <div class="col-12 text-center text-danger">
        @foreach (var error in Model.SelectMany(errorsList => errorsList.Value)) {
            <p>@error</p>
        }
    </div>
</div>