@{
    ViewBag.Title = "404 Page not found";
}

<div class="row">
    <div class="col-12 text-center">
        <img src="@Url.Content("~/img/errors/404.jpg")" alt="Error 404. Page not found" />
    </div>
</div>