@model CreatePurchaseOrderViewModel

@{
    ViewBag.Title = "Create purchase order";
}

<h2>Create purchase order</h2>

<form asp-action="CreatePurchaseOrder" method="post">
    
    <div class="mb-3">
        <label asp-for="ClientPersonalDataViewModel.Name" class="form-label"></label>
        <input asp-for="ClientPersonalDataViewModel.Name" class="form-control"/>
        <span asp-validation-for="ClientPersonalDataViewModel.Name" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="ClientPersonalDataViewModel.Surname" class="form-label"></label>
        <input asp-for="ClientPersonalDataViewModel.Surname" class="form-control"/>
        <span asp-validation-for="ClientPersonalDataViewModel.Surname" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="ClientPersonalDataViewModel.Patronymic" class="form-label"></label>
        <input asp-for="ClientPersonalDataViewModel.Patronymic" class="form-control"/>
        <span asp-validation-for="ClientPersonalDataViewModel.Patronymic" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ClientPersonalDataViewModel.Email" class="form-label"></label>
        <input asp-for="ClientPersonalDataViewModel.Email" class="form-control"/>
        <span asp-validation-for="ClientPersonalDataViewModel.Email" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="ClientPersonalDataViewModel.Phone" class="form-label"></label>
        <input asp-for="ClientPersonalDataViewModel.Phone" class="form-control"/>
        <span asp-validation-for="ClientPersonalDataViewModel.Phone" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="ShowroomId" class="form-label"></label>
        <select asp-for="ShowroomId" class="form-select" asp-items="ViewBag.Showrooms"></select>
        <span asp-validation-for="ShowroomId" class="text-danger"></span>
    </div>

    @foreach (var item in Model.Items) {
        <input type="hidden" asp-for="ClientId"/>
        <div class="mb-3">
            <label for="select-@item.EquipmentItemCategoryName.Replace(" ", "-")" class="form-label">Select @item.EquipmentItemCategoryName</label>
            <select id="select-@item.EquipmentItemCategoryName.Replace(" ", "-")" asp-items="item.SelectList" name="Equipment" class="form-select"></select>
        </div>
    }

    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="Create purchase order" />
    </div>
</form>
